*, *::before, *::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Manrope', sans-serif;
    margin: 0;
}

img {
    display: block;
}

.main-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    align-items: center;
    height: 73px;
    border-bottom: 1px solid #E5E9F2; 
}
.header-container {
   width: 1110px;
   margin: 0 auto;
   display: flex;
   align-items: center;
}

.logo {
margin-right: 40px;
}

.nav {
color: #18191F;
font-weight: 700;
font-size: 14px;
line-height: 1.43;
}

.appstore {
margin-left: auto;
display: flex;
}

.appstore-item {
    margin-left: 12px;
}

.appstore-item:first-child {
    margin-left: 12px;
}

.nav-link {
    color: #18191F;
    text-decoration: none;
    margin-right: 32px;
}

.nav-link:hover {
    color: #8C30F5;
}

.nav-link:last-child {
    margin-right: 0;
}

/* MAIN */

.main {
    
}

.main-container {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 197px;
    padding-bottom: 197px;
}

.main-content {
    width: 540px;
    font-size: 18px;
}

.main-text {
    margin-bottom: 32px;
}

.main-header {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 800;
    font-size: 72px;
    line-height: 1.36;
    color: #18191F;
}

.main-text p {
    line-height: 1.78;
    margin: 0;
    font-size: 18px;
}

.button {
    display: inline-block;
    height: 62px;
    background-color: #8C30F5;
    text-decoration: none;
    color: #E5E9F2;
    border-radius: 8px;
    text-transform: uppercase;
    padding-left: 35px;
    padding-right: 35px;
    font-weight: 700;
    font-size: 20px;
    line-height: 62px;
}

.button:hover {
    opacity: 0.8;
}

/* FOOTER */

.footer {
    background: #0B0D17;
    height: 72px;
    color: #D9DBE1;
}

.footer-container {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-copyright {
    font-size: 14px;
}

.footer-socials {
   display: flex;
}

.footer-socials-item {
    margin-left: 16px;
}
